{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>
        Tell Us a Little About Yourself<br><small>For a better match</small>
    </h1>
</div>
<form>
    <fieldset>
        <!--<legend>Legend</legend>-->
        <label>Label name</label><input type="text"> <span class="help-block">Example block-level help text here.</span>
        <label class="checkbox"><input type="checkbox"> Check me out</label> 
        <button type="submit" class="btn">Next</button>
    </fieldset>
</form>


{% endblock %}




